/* Colors varable */
/* Font family variable */
/* Font size varable */
/* Breaking points varables */
/* Functions for easy access to sass maps */
/* Functions to add breaking point specific code */
/* Main design elements */
body {
  height: 100%;
  margin: 0;
  padding: 0;
  position: relative;
  font-family: "Open Sans", sans-serif;
  background-color: #dfe5eb;
  font-size: 1.1em;
}

img {
  max-width: 100%;
  height: auto;
}

.headers, h1, h2, h3, h4, h5, h6 {
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  color: #199a88;
  text-transform: uppercase;
  margin-bottom: 0.5em;
}

h1 {
  font-size: 3.5em;
}

@media (max-width: 767px) {
  h1 {
    font-size: 3em;
  }
}

h2 {
  font-size: 3em;
}

@media (max-width: 767px) {
  h2 {
    font-size: 2em;
  }
}

h3 {
  font-size: 2em;
}

h4 {
  font-size: 1.6em;
}

h5 {
  font-size: 1.3em;
}

h6 {
  font-size: 1.1em;
}

.small-text {
  font-size: 0.9em;
}

a, a:visited {
  color: #3366cc;
  text-decoration: none;
}

a:hover {
  color: #1e7b6f;
}

a:after {
  content: "\00bb";
  margin-left: 2px;
}

/* Layout specific design */
.center, .container, .center-image, .reference img {
  margin: 0 auto;
}

.flex, header, .portfolio, .reference-buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

@media (max-width: 767px) {
  .flex, header, .portfolio, .reference-buttons {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.border-left {
  border-left: 1px solid #199a88;
}

.container {
  max-width: 1240px;
  padding: 1em;
  margin-top: 2em;
}

header {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main {
  margin-top: 2em;
}

.left {
  width: 40%;
}

.right {
  width: 60%;
}

.portfolio {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.reference {
  border: 1px solid #373445;
  padding: 1em;
  width: 350px;
  background-color: white;
  margin-top: 2em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media (max-width: 767px) {
  .reference {
    width: 100%;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
}

.reference-buttons {
  margin-top: auto;
}

.experience, .education {
  width: 60%;
}

@media (min-width: 767px) and (max-width: 1023px) {
  .experience, .education {
    width: 80%;
  }
}

@media (max-width: 767px) {
  .experience, .education {
    width: 100%;
  }
}

.center-image, .reference img {
  display: block;
}

.center-text {
  text-align: center;
}

.padding-left {
  padding-left: 2em;
}

/* Styling logo */
.logo-name {
  font-family: "Montserrat", sans-serif;
  font-size: 3.5em;
  color: #199a88;
  text-transform: uppercase;
}

@media (max-width: 767px) {
  .logo-name {
    font-size: 10vw;
  }
}

.logo-title {
  font-family: "Montserrat", sans-serif;
  font-size: 2em;
  text-transform: uppercase;
}

@media (max-width: 767px) {
  .logo-title {
    font-size: 5.5vw;
  }
}

/* Styling form fields */
input, textarea {
  width: 100%;
  padding: 0.5em;
  margin-bottom: 0.6em;
  font-size: 1.1em;
  border: 1px solid colors(dark-background);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

textarea {
  height: 10em;
  font-family: "Open Sans", sans-serif;
  font-size: 1.1em;
}

input[type=submit], textarea[type=submit], button {
  width: 100%;
  font-size: 1.1em;
  background-color: #199a88;
  color: #dfe5eb;
  padding: 1em;
  margin-top: 0.5em;
  border: none;
  cursor: pointer;
  margin: 0.1em;
}

input[type=submit]:hover, textarea[type=submit]:hover, button:hover {
  background-color: #1e7b6f;
}

.form-container {
  width: 25em;
}

@media (max-width: 767px) {
  .form-container {
    width: 100%;
  }
}

/* Navigation specific styling */
.hamburger-menu {
  display: none;
  position: absolute;
  font-size: 2.2em;
  top: 0;
  right: 0.9em;
  z-index: 3;
  color: #373445;
  font-weight: 1000;
  cursor: pointer;
  /* Only display nav buttons if active set by JavaScript */
  /* Close button specific styling */
}

.hamburger-menu.active {
  display: block;
}

.hamburger-menu.close-button {
  position: fixed;
  font-size: 3.2em;
  top: 0.4em;
  right: 0.65em;
  color: #373445;
}

nav {
  position: fixed;
  right: 0;
  top: 0;
  -webkit-transition: ease 1s all;
  transition: ease 1s all;
  visibility: none;
  opacity: 0;
  margin-right: -100%;
  z-index: 2;
  /* Only display nav content if active set by JavaScript */
}

nav.active {
  display: block;
  width: 40%;
  opacity: 1;
  margin-right: 0%;
  /* Include styling for different devices */
}

@media (max-width: 767px) {
  nav.active {
    width: 100%;
  }
}

@media (min-width: 767px) and (max-width: 1023px) {
  nav.active {
    width: 60%;
  }
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 7em 0 0 0;
  background-color: #199a88;
  height: 100vh;
  overflow: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

nav ul li a {
  display: block;
  font-size: 1.6em;
  padding: 1em 5em 1em 5em;
  text-decoration: none;
  color: #373445 !important;
  text-transform: uppercase;
}

nav ul li a.current {
  color: #dfe5eb !important;
  background-color: #1e7b6f;
}

nav ul li a.current:hover {
  color: #dfe5eb !important;
}

@media (max-width: 767px) {
  nav ul li a {
    padding: 1em 2em 1em 2em;
  }
}

nav ul li a:hover {
  background-color: #1e7b6f;
  color: #373445;
}

nav ul .loged-in {
  padding: 0.2em 0 0.2em 8em;
}

@media (max-width: 767px) {
  nav ul .loged-in {
    padding: 0.2em 0 0.2em 3em;
  }
}
/*# sourceMappingURL=main.css.map */